In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import os

In [10]:
df=pd.read_csv("test_data_cleaning.csv")

In [11]:
df

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about # earthquake is different cities,..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting . # Spokane # wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES SAFETY FASTENER...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane . My ci...
3260,10868,NaN,NaN,Green Line derailment in Chicago
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook ( HWO )
3262,10875,NaN,NaN,# City of Calgary has activated its Municipal...

In [12]:
df.isnull().sum()

id             0
keyword       26
location    1105
text           0
dtype: int64

In [13]:
df11=pd.DataFrame(data={"Temperature":[1,np.nan,3,2,5],"Humidity":[22,np.nan,2,np.nan,22]})
df11

   Temperature  Humidity
0          1.0      22.0
1          NaN       NaN
2          3.0       2.0
3          2.0       NaN
4          5.0      22.0

In [14]:
df11.isnull().sum()

Temperature    1
Humidity       2
dtype: int64

In [15]:
df11.dropna()

   Temperature  Humidity
0          1.0      22.0
2          3.0       2.0
4          5.0      22.0

In [16]:
df11.fillna(method='bfill')

   Temperature  Humidity
0          1.0      22.0
1          3.0       2.0
2          3.0       2.0
3          2.0      22.0
4          5.0      22.0

In [17]:
df11.isnull().sum()

Temperature    1
Humidity       2
dtype: int64

In [18]:
df11

   Temperature  Humidity
0          1.0      22.0
1          NaN       NaN
2          3.0       2.0
3          2.0       NaN
4          5.0      22.0

In [19]:
df11.interpolate()

   Temperature  Humidity
0          1.0      22.0
1          2.0      12.0
2          3.0       2.0
3          2.0      12.0
4          5.0      22.0

In [20]:
df11.fillna({'Temperature':2, 'Humidity':15})

   Temperature  Humidity
0          1.0      22.0
1          2.0      15.0
2          3.0       2.0
3          2.0      15.0
4          5.0      22.0

In [21]:
df11.fillna({'Humidity':15})

   Temperature  Humidity
0          1.0      22.0
1          NaN      15.0
2          3.0       2.0
3          2.0      15.0
4          5.0      22.0